In [ ]:
# 해당 파일은 python 3.10.9에서 실행 되었습니다.

In [ ]:
# 시작할 때 사용할 패키지 파일을 전부 입력한다.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import re
from scipy import stats
from statannot import add_stat_annotation
# 그래프 한글 표시 요류 관련 해결 방법
plt.rc('font', family='Malgun Gothic')

In [ ]:
# 유치원, 초, 중, 고, 대학교 교원 1인당 학생수 = df1
df1 = pd.read_excel('17개_시도_교원1인당_학생수.xlsx')
df1 = df1.rename(columns={'재적학생수<br>(A)':'재적학생수', '교원수<br>(B)':'교원수'})
df1

In [ ]:
# 유치원 원아수 = df2
df2 = pd.read_excel('17개_시도_유치원_원아수.xlsx')
df2 = df2.rename(columns={'데이터':'원아수'})
df2

In [ ]:
# 유치원 교원수 = d2
d2 = pd.read_excel('17개_시도_유치원_교원수.xlsx')
d2

In [ ]:
# 유치원 원아수, 교원수 = df2
df2['교원수'] = d2['데이터']
df2

In [ ]:
# 초등학교 학생수 = df3
df3 = pd.read_excel('17개_시도_초등학교_학생수.xlsx')
df3 = df3.rename(columns={'데이터':'학생수'})
df3

In [ ]:
# 초등학교 교원수 = d3
d3 = pd.read_excel('17개_시도_초등학교_교원수.xlsx')
d3

In [ ]:
# 초등학교 학생수, 교원수 = df3
df3['교원수'] = d3['데이터']
df3

In [ ]:
# 대학교 학생수 = df4
df4 = pd.read_excel('17개_시도_대학교_학생수.xlsx')
df4 = df4.rename(columns={'대학교 재학생수<br>(A+B+C+D)':'재학생수'})
df4

In [ ]:
# 대학교 교원수 = d4
d4 = pd.read_excel('17개_시도_대학교_교원수.xlsx')
d4

In [ ]:
# 대학교 학생수, 교원수 = df4
df4['교원수'] = d4['대학교 교원수<br>(A+B+C+D)']
df4

In [ ]:
# 중, 고등학교 학생수, 교원수 = df1
df1['재적학생수'] = df1['재적학생수'] - df2['원아수'] - df3['학생수'] - df4['재학생수']
df1['교원수'] = df1['교원수'] - df2['교원수'] - df3['교원수'] - df4['교원수']
df1

In [ ]:
# 중, 고등학교 교원1인당학생수 구하기
df1['교원1인당학생수'] = df1['재적학생수'] / df1['교원수']
df1

In [ ]:
# 중, 고등학교 교원1인당학생수 소수점 3번쨰에서 반올림하여 2번째 까지 표시
df1['교원1인당학생수'] = round(df1['교원1인당학생수'], 2)
df1

In [ ]:
#칼럼 순서 변경
df1 = df1[['행정구역별', '시점', '재적학생수', '교원수', '교원1인당학생수']]
df1

In [ ]:
# 중, 고등학교 학생의 학교생활만족도 = df5
df5 = pd.read_excel('17개_시도_학생의_학교생활만족도.xlsx')
df5.head()

In [ ]:
# 중, 고등학교 학생의 학교생활만족도 불필요 칼럼 제거
df5 = df5.drop(['특성별(1)', '특성별(2)'], axis = 1)
df5.head()

In [ ]:
# 학생의 학교생활만족도 칼럼명 변경
df5.columns = ['시점', '행정구역별', '매우만족', '약간만족', '보통', '약간불만족', '매우불만족']
df5

In [ ]:
#칼럼 순서 변경
df5 = df5[['행정구역별', '시점', '매우만족', '약간만족', '보통', '약간불만족', '매우불만족']]
df5

In [ ]:
# 데이터 타입 확인
df5.dtypes

In [ ]:
# 약간불만족', '약간불만족'에서 '-'값을 0으로 수정
df5['약간불만족'] = df5['약간불만족'].replace('-', 0)
df5['매우불만족'] = df5['매우불만족'].replace('-', 0)

In [ ]:
# 데이터 타입 확인
df5.dtypes

In [ ]:
# 데이터 타입 변경
df5['약간불만족'] = df5['약간불만족'].astype('float')
df5['매우불만족'] = df5['매우불만족'].astype('float')

In [ ]:
# 데이터 타입 확인
df5.dtypes

In [ ]:
# 만족도환산점수 = '매우만족' = 5점, '약간만족' = 4점, '보통' = 3점, '약간불만족' = 2점, '매우불만족' = 1점
df5['만족도환산점수'] = df5['매우만족'].mul(5) + df5['약간만족'].mul(4) + df5['보통'].mul(3) + df5['약간불만족'].mul(2) + df5['매우불만족']
df5

In [ ]:
#df1과 df5 데이터 프레임 합치기 1
df6 = df1.drop(['행정구역별', '시점'], axis = 1)

In [ ]:
#df1과 df5 데이터 프레임 합치기 2
df = pd.concat([df5, df6], axis = 1)
df

In [ ]:
# 데이터 프레임 통합 결과물 내보내기
df.to_excel('17개_시도_중고등학생의_학교생활만족도와_교원1인당_학생수.xlsx', index = False)

In [ ]:
# T-test용 데이터 프레임 생성 중 불필요 데이터 칼럼 삭제
df7 = df1.drop(['재적학생수', '교원수'], axis = 1)
df7

In [ ]:
# T-test용 데이터 프레임 생성 = df8
df8 = df7.pivot(index = '행정구역별', columns = '시점', values = '교원1인당학생수').reset_index()
df8

In [ ]:
# 평균 구하기
df8['평균'] = df8.mean(axis = 1)
df8['평균'] = round(df8['평균'], 2)
df8

In [ ]:
# 열 이름 '시점' 삭제
df8.columns.name = None
df8

In [ ]:
# T-test용 데이터 프레임 통합 결과물 내보내기
df8.to_excel('17개_시도_중고등학생의_교원1인당_학생수.xlsx', index = False)