In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('./datasets/train.csv')
data

- Survived : 0 = 사망, 1 = 생존
- Pclass : 1 = 1등석, 2 = 2등석, 3 = 3등석
- Sex : male = 남성, female = 여성
- Age : 나이
- SibSp : 타이타닉 호에 동승한 자매 / 배우자의 수
- Parch : 타이타닉 호에 동승한 부모 / 자식의 수
- Ticket : 티켓 번호
- Fare : 승객 요금
- Cabin : 방 호수
- Embarked : 탑승지, C = 셰르부르, Q = 퀸즈타운, S = 사우샘프턴

In [ ]:
data.info()

In [ ]:
df_check = data
print('칼럼명 :', df_check.columns) # 칼럼명 확인
print('(rows, columns) :', df_check.shape) # (행 개수, 열 개수)
df_check.count() # 칼럼별 항목 개수 확인

In [ ]:
# 컬럼별 unique 개수
unique_check_df = data
columns_info = dict()
columns = unique_check_df.columns
for col in columns:
    columns_info[col] = len(unique_check_df[col].unique())
columns_info

In [ ]:
# 칼럼 unique별 개수 확인
data['Survived'].value_counts()

In [ ]:
# 칼럼별 결측지 비율 확인
null_check_df = data
null_cnt_df = pd.DataFrame(null_check_df.isnull().sum()).rename(columns = {0:'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round(null_cnt_df['null_count'] / len(null_check_df) * 100, 2)
null_cnt_df

In [ ]:
# 결측치를 칼럼의 평균 값으로 대체
data['Age'] = data['Age'].fillna(data['Age'].mean())

# 칼럼별 결측지 비율 확인
null_check_df = data
null_cnt_df = pd.DataFrame(null_check_df.isnull().sum()).rename(columns = {0:'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round(null_cnt_df['null_count'] / len(null_check_df) * 100, 2)
null_cnt_df

# 결측치 비율이 너무 높은 칼럼 삭제
del data['Cabin']

# 칼럼별 결측지 비율 확인
null_check_df = data
null_cnt_df = pd.DataFrame(null_check_df.isnull().sum()).rename(columns = {0:'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round(null_cnt_df['null_count'] / len(null_check_df) * 100, 2)
null_cnt_df

# 결측치 비율이 아주 작은 칼럼 결측치가 있는 행 제거
data = data.dropna(axis = 0, subset = ['Embarked']) 

# 칼럼별 결측지 비율 확인
null_check_df = data
null_cnt_df = pd.DataFrame(null_check_df.isnull().sum()).rename(columns = {0:'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round(null_cnt_df['null_count'] / len(null_check_df) * 100, 2)
null_cnt_df

In [ ]:
df_check = data
print('칼럼명 :', df_check.columns) # 칼럼명 확인
print('(rows, columns) :', df_check.shape) # (행 개수, 열 개수)
df_check.count() # 칼럼별 항목 개수 확인

- Survived : 0 = 사망, 1 = 생존
- Pclass : 1 = 1등석, 2 = 2등석, 3 = 3등석
- Sex : male = 남성, female = 여성
- Age : 나이
- SibSp : 타이타닉 호에 동승한 자매 / 배우자의 수
- Parch : 타이타닉 호에 동승한 부모 / 자식의 수
- Ticket : 티켓 번호
- Fare : 승객 요금
- Cabin : 방 호수
- Embarked : 탑승지, C = 셰르부르, Q = 퀸즈타운, S = 사우샘프턴

In [ ]:
# 성별 생존자수
data_Survived = data[data['Survived'] == 1]
groupby_data = pd.DataFrame(data_Survived.groupby('Sex')['Survived'].count()).reset_index()
groupby_data = groupby_data.rename(columns = {'Sex' : '성별', 'Survived' : '생존자수'})
groupby_data

In [ ]:
data['Embarked'].unique()

In [ ]:
data['Sex'] = data['Sex'].map({'male' : 0, 'female' : 1})
data['Embarked'] = data['Embarked'].map({'S' : 0, 'C' : 1, 'Q' : 2})

In [ ]:
X = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
Y = data['Survived']

In [ ]:
X.info()

In [ ]:
X[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].describe()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 121)

print('[Trian] 전체 :{}, 생존 : {}, 사망 {}'.format(len(X_train), y_train[y_train == 1].shape[0], y_train[y_train == 0].shape[0]))
print('[test] 전체 :{}, 생존 : {}, 사망 {}'.format(len(X_test), y_test[y_test == 1].shape[0], y_test[y_test == 0].shape[0]))

In [ ]:
X_train.shape

In [ ]:
X_test.shape