In [ ]:
# 해당 파일은 python 3.10.9에서 실행 되었습니다.

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('한국자산관리공사_국유부동산 매각현황_20221231.csv',encoding='cp949')
df1

# 전처리

# 매각만 분리

In [ ]:
df1['처분구분명'].unique()

In [ ]:
df2 = df1[df1['처분구분명'].apply(lambda x : x.startswith('처분(매각'))]

In [ ]:
df2['처분구분명'].unique()

# 매각 면적 0 제거

In [ ]:
df3 = df2[df2['대장면적(제곱미터)'] > 0]

# 공부지목 nan값 제거

In [ ]:
df3['공부지목'].unique()

In [ ]:
df3['공부지목'] = df3['공부지목'].fillna('확인불가')

In [ ]:
df3['공부지목'].unique()

# 팀명 nan값 제거

In [ ]:
df3['팀명'].isna().unique()

In [ ]:
df3['팀명'].unique()

In [ ]:
target = ['국유재산관리1팀', '국유울산팀', '국유재산관리2팀', '국유춘천팀', '국유목포팀', '국유여수팀',
       '국유제주팀', '국유팀', '국유광주2팀', '국유원주팀', '국유진주팀', '내포지부', '국유재산관리팀',
       '국유 충주팀', '재산관리3팀', '국유군산팀', '국유재산관리3팀', '국유 안동팀', '국유 포항팀',
       '의정부팀', '재산관리2팀', '국유광주1팀', '국유평택팀', '재산관리1팀', '재산관리5팀', '국유통영팀',
       '재산관리4팀', '재산관리6팀', '팀미정', '국유목포지부', '국유여수지부', '국유제주지부', '포항지부',
       '안동지부', '국유재산1팀', '국유재산3팀', '의정부지부', '국유광주3팀', '국유재산2팀', '울산지부',
       '국유재산관리4팀', '기획관리팀', '원주지부', '국유1팀', '국유2팀', '춘천지부', '국유진주지부',
       '국유통영지부', '국유광주4팀', '국유목포지사', '국유여수지사', '내포지사', '충주지사', '군산지사',
       '국유진주지사', '국유통영지사', '포항지사', '안동지사', '국유제주지사', '울산지사', '국유재산관리5팀',
       '평택지사', '의정부지사', '원주지사', '춘천지사', '해안면무주지국유화지원추진단']
df = df3[df3['팀명'].apply(lambda x : x in target)]

# 매각 금액이 가장 많은 팀과 하위 팀의 차이 확인하기

In [ ]:
df['팀명'].unique()

In [ ]:
dfs = pd.DataFrame(df.groupby('팀명')['대장금액(원)'].sum())

In [ ]:
dfs

In [ ]:
dfs.idxmax()

In [ ]:
dfs.max()

In [ ]:
dfs.idxmin()

In [ ]:
dfs.min()

In [ ]:
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
m1 = df['팀명'] == '국유재산3팀'
n1 = df['팀명'] == '해안면무주지국유화지원추진단'

In [ ]:
m = df[m1]['대장금액(원)']
n = df[n1]['대장금액(원)']

In [ ]:
ttest = stats.ttest_ind(m, n)

In [ ]:
ttest.pvalue

In [ ]:
ttest.statistic

In [ ]:
stats.shapiro(m)

In [ ]:
stats.shapiro(n)

In [ ]:
stats.ks_2samp(m, n)

# 부점 구분으로 수정 - 매각 금액이 가장 많은 팀과 하위 팀의 차이 확인하기

In [ ]:
dfa = df.groupby(['부점명','팀명']).agg({'대장금액(원)' : sum})

In [ ]:
dfa.idxmax()

In [ ]:
dfa.max()

In [ ]:
dfa.idxmin()

In [ ]:
dfa.min()

# 연도별 매각금액 추이 확인하기

In [ ]:
from sklearn.datasets import load_iris
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.font_manager as fm

In [ ]:
sns.lineplot(data = df, x = '연도구분', y = '대장금액(원)')
plt.show()

In [ ]:
[f.name for f in fm.fontManager.ttflist]

In [ ]:
plt.rc('font', family='Malgun Gothic')

In [ ]:
sns.lineplot(data = df, x = '연도구분', y = '대장금액(원)')
plt.show()

# 상위 5개 지역별 매각 면적 확인하기

In [ ]:
dfb = df.groupby(['부점명','팀명']).agg({'대장면적(제곱미터)' : sum})

In [ ]:
dfb

In [ ]:
dfc = dfb.nlargest(5, '대장면적(제곱미터)', keep='first')

In [ ]:
dfc

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

팀명 = ['강원지역본부\n국유팀', '강원지역본부\n국유춘천팀', '대전충남지역본부\n내포지사',
      '전북지역본부\n국유재산관리1팀', '광주전남지역본부\n국유광주2팀']
counts = [4414675.000, 2163883.000, 1952206.696, 1730079.900, 1489381.000]

ax.bar(팀명, counts)


ax.set_title('팀별 매각 면적 상위 5곳')
ax.legend(title='대장면적(제곱미터)')

plt.show()

In [ ]:
dfd = pd.DataFrame(df.groupby('지역구분')['대장면적(제곱미터)'].sum())

In [ ]:
dfd

In [ ]:
dfe = dfd.nlargest(5, '대장면적(제곱미터)', keep='first')

In [ ]:
dfe

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

팀명 = ['강원도', '경기도', '전라남도', '전라북도', '경상북도']
counts = [9584364.950, 8319993.462, 5811610.737, 4984516.275, 4857939.602]

ax.bar(팀명, counts)


ax.set_title('지역별 매각 면적 상위 5곳')
ax.legend(title='대장면적(제곱미터)')

plt.show()

# 계약 일자 정보 기준으로, 매각이 많은 때의 특징 알아보기

In [ ]:
df

In [ ]:
df11 = df.groupby('계약일자')['대장금액(원)'].describe()

In [ ]:
df12 = df.groupby('계약일자')['대장면적(제곱미터)'].describe()

In [ ]:
d1 = df11.nlargest(5, 'count', keep='first')

In [ ]:
d2 = df12.nlargest(5, 'count', keep='first')

In [ ]:
d1

In [ ]:
d2

In [ ]:
target1 = ['2017-12-01', '2022-07-25', '2020-04-01','2019-08-29', '2017-10-27']
df10 = df[df['계약일자'].apply(lambda x : x in target1)]

In [ ]:
d10 = pd.DataFrame(df10.groupby('계약일자')['지역구분'].value_counts())

In [ ]:
d10

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

팀명 = ['2017-\n10-27', '2017-\n12-01', '2019-\n08-29', '2020-\n04-01', '2022-\n07-25']
counts = [412, 592, 431, 442, 486]

ax.bar(팀명, counts)


ax.set_title('일자별 매각량 상위 5일 매각량')
ax.legend(title='매각량(건)')

plt.show()

In [ ]:
d10 = df10.groupby('계약일자')['지역구분'].describe()

In [ ]:
d10